@import "variables.less";

#ppt {
  width: 50%;
  padding: @base-padding;
}

#desc {
  width: 50%;
  padding: @base-padding @base-padding @base-padding*3 @base-padding;
}


#desc {
  min-height: 80%;
}
@base-padding: 30px;

article {
  display: flex;
}
