@base-padding: 30px;

ul.posts {
  display: flex;
  list-style-type: none;
  margin: 0 !important;
  li {
    width: 50%;
    padding: @base-padding !important;
  }
  .prev {
    text-align: left;
  }
  .next {
    text-align: right;
  }
  h4 {
    margin-bottom: 0;
  }
}

ul.posts > li {
    /* some rules */
    &:hover {
      background: blue;
      cursor: pointer;
    }
    &:focus {
      /* some rules */
    }
}
