<div class="wrapper">
<ul class="posts posts--previous-next">
  {% if page.previous %} 
  
    <li>
      <h4 class="pagination-title"><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h4>
      <p class="pagination-description">{{ page.previous.description }}</p>
    </li>
  {% endif %}
  {% if page.next %} 
    <li>
      <h4 class="pagination-title"><a href="{{ page.next.url }}">{{ page.next.title }}</a></h4>
      <p class="pagination-description">{{ page.next.description }}</p>
    </li>
  {% endif %}
</ul>
</div>
